<div data-controller="media-recorder">

	<button class="" id="cameraRecordBtn" data-media-recorder-target="cameraRecordBtn" data-action="media-recorder#start_camera_recording">Start Camera Record</button>
	<button class="" id="screenRecordBtn" data-media-recorder-target="screenRecordBtn" data-action="media-recorder#start_screen_recording">Start Screen Record</button>
	<button class="" id="stopBtn" data-media-recorder-target="stopBtn">Stop</button>

	<video id="preview" data-media-recorder-target="preview" controls></video> 

	<%= form_with model: [recording, message] do |f| %>
	<% end %>
</div>