<% @messages.each do |message| %>
	<div>
		<video width="480" height="640" controls>
			<source src="<%= rails_blob_url(message.media) %>" type="video/mp4">
		</video>
	</div>
<% end %>

<%= render partial: "messages/new", locals: { recording: @recording, message: @recording.messages.new } %>